node-red-flow/orchestrate_dsx_workflow.json
[{"id":"6e2a5dcb.d635dc","type":"dashDB out","z":"60cfbb27.7bd1d4","dashDB":"","service":"Db2 Warehouse-9z","table":"EQUIPMENT_DATA","name":"","x":930,"y":420,"wires":[]},{"id":"5d798f0b.b9bac8","type":"ibmiot in","z":"60cfbb27.7bd1d4","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":234,"y":300,"wires":[["4be54eb3.fe3dd"]]},{"id":"cb0b9fa7.d11e","type":"comment","z":"60cfbb27.7bd1d4","name":"Store data into DB2 Warehouse","info":"","x":950,"y":340,"wires":[]},{"id":"f1a3e54f.bad098","type":"debug","z":"60cfbb27.7bd1d4","name":"Equipment data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":280,"wires":[]},{"id":"723b895d.4b6558","type":"function","z":"60cfbb27.7bd1d4","name":"Prepare payload for storage","func":"var output = {};\nmsg.payload = msg.data;\noutput.payload =\n{\n FOOTFALL : msg.payload.d.footfall,\n ATEMP : msg.payload.d.atemp,\n SELFLR : msg.payload.d.selfLR,\n CLINLR : msg.payload.d.ClinLR,\n DOLELR : msg.payload.d.DoleLR,\n PID : msg.payload.d.PID,\n OUTPRESSURE : msg.payload.d.outpressure,\n INPRESSURE : msg.payload.d.inpressure,\n TEMP : msg.payload.d.temp,\n FAIL : msg.payload.d.fail\n}\nreturn output;\n","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["f1a3e54f.bad098","6e2a5dcb.d635dc"]]},{"id":"96b17958.01e608","type":"dashDB in","z":"60cfbb27.7bd1d4","dashDB":"","service":"Db2 Warehouse-9z","query":"DELETE FROM EQUIPMENT_DATA","params":"","name":"EQUIPMENT_DATA","x":613,"y":618,"wires":[["b4935a29.af2e98"]]},{"id":"f710affd.dc8e58","type":"inject","z":"60cfbb27.7bd1d4","name":"Delete data in the EQUIPMENT_DATA table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":383,"y":538,"wires":[["96b17958.01e608"]]},{"id":"b4935a29.af2e98","type":"debug","z":"60cfbb27.7bd1d4","name":"DB response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":854,"y":620,"wires":[]},{"id":"b8077d5f.c314a","type":"comment","z":"60cfbb27.7bd1d4","name":"Delete Table data","info":"","x":304,"y":500,"wires":[]},{"id":"2122d832.7fb5b","type":"websocket in","z":"60cfbb27.7bd1d4","name":"","server":"7e580743.ca826","client":"","x":292,"y":782,"wires":[["b6da6c7b.c861b8","647c9ac0.dd1ddc"]]},{"id":"b6da6c7b.c861b8","type":"function","z":"60cfbb27.7bd1d4","name":"","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":782,"wires":[["e846ce9.a049d3"]]},{"id":"e846ce9.a049d3","type":"websocket out","z":"60cfbb27.7bd1d4","name":"","server":"7e580743.ca826","client":"","x":842,"y":782,"wires":[]},{"id":"1dfeb46b.246ee4","type":"comment","z":"60cfbb27.7bd1d4","name":"Flow that creates a Web socket server ","info":"This flow creates a web socket server","x":354,"y":720,"wires":[]},{"id":"7fba65bc.f9463c","type":"switch","z":"60cfbb27.7bd1d4","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":300,"wires":[["f6aaa516.404f3"],["723b895d.4b6558"]]},{"id":"2bc6ced2.1a6682","type":"websocket out","z":"60cfbb27.7bd1d4","name":"","server":"7e580743.ca826","client":"","x":960,"y":140,"wires":[]},{"id":"4be54eb3.fe3dd","type":"function","z":"60cfbb27.7bd1d4","name":"Backup data","func":"msg.data = msg.payload;\nvar prop = \"fail\";\nif (msg.data.d.hasOwnProperty(prop)) {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":300,"wires":[["7fba65bc.f9463c"]]},{"id":"f6aaa516.404f3","type":"function","z":"60cfbb27.7bd1d4","name":"Construct message for invoking DSX","func":"var payload = {}\npayload = {\n    'cmd':'predict',\n    'atemp':msg.data.d.atemp,\n    'PID' : msg.data.d.PID,\n    'outpressure': msg.data.d.outpressure,\n    'inpressure' : msg.data.d.inpressure,\n    'temp' : msg.data.d.temp,\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["2bc6ced2.1a6682"]]},{"id":"647c9ac0.dd1ddc","type":"function","z":"60cfbb27.7bd1d4","name":"Assign prediction status","func":"var payload = msg.payload;\nvar jsonobj = JSON.parse(payload);\nvar cmd = jsonobj.cmd;\nvar status = \"Ignore\";\nif (cmd == 'response') {\n    status = jsonobj.status;\n}\nmsg.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":882,"wires":[["e1c0a7ef.cf0c28"]]},{"id":"e5f018bc.747c9","type":"ibmiot out","z":"60cfbb27.7bd1d4","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"Sensors","deviceType":"Equipment","eventCommandType":"shutdown","format":"json","data":"{\"cmd\":\"shutdown\"}","qos":0,"name":"IBM IoT","service":"quickstart","x":1042,"y":882,"wires":[]},{"id":"e1c0a7ef.cf0c28","type":"switch","z":"60cfbb27.7bd1d4","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"Failing","vt":"str"},{"t":"eq","v":"Running","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":612,"y":882,"wires":[["87527042.e7efc"],["5d1b88e5.62fe78"],["9d606002.fa491"]]},{"id":"5d1b88e5.62fe78","type":"function","z":"60cfbb27.7bd1d4","name":"Construct command","func":"var cmd = {}\ncmd = {\n    \"cmd\":\"Shutdown\",\n   }\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":842,"y":882,"wires":[["e5f018bc.747c9","2a0e86dc.ebd882"]]},{"id":"87527042.e7efc","type":"debug","z":"60cfbb27.7bd1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752,"y":842,"wires":[]},{"id":"9d606002.fa491","type":"debug","z":"60cfbb27.7bd1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","x":792,"y":942,"wires":[]},{"id":"2a0e86dc.ebd882","type":"debug","z":"60cfbb27.7bd1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":992,"y":942,"wires":[]},{"id":"81f40670.aa7f5","type":"comment","z":"60cfbb27.7bd1d4","name":"Store data into database / Invoke predctive analytics","info":"If database does not contain all the data, then the predictive analytics is not invoked.","x":374,"y":100,"wires":[]},{"id":"a747455c.71907","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7e580743.ca826","type":"websocket-listener","z":"","path":"/ws/orchestrate","wholemsg":"false"}]
