node-red-flow/pi_flow.json
[{"id":"1bd9c8d5.6c2ca7","type":"wiotp in","z":"cb9d34cc.77518","authType":"d","deviceKey":"33a84934.5a651e","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":113,"y":329.5,"wires":[["d3572d25.05498"]]},{"id":"d3572d25.05498","type":"debug","z":"cb9d34cc.77518","name":"","active":true,"console":"false","complete":"false","x":361,"y":329.75,"wires":[]},{"id":"204757f1.448de8","type":"file in","z":"cb9d34cc.77518","name":"","filename":"/home/pi/iot_sensor_dataset.csv","format":"utf8","x":419,"y":96.5,"wires":[["beebaca6.c19b3"]]},{"id":"beebaca6.c19b3","type":"csv","z":"cb9d34cc.77518","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":650,"y":94,"wires":[["2bd955c0.357b32","988060ba.46f6c8"]]},{"id":"95845415.d531d","type":"inject","z":"cb9d34cc.77518","name":"Sensor event trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.5,"y":96.5,"wires":[["204757f1.448de8"]]},{"id":"2bd955c0.357b32","type":"wiotp out","z":"cb9d34cc.77518","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"33a84934.5a651e","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":841,"y":93.75,"wires":[]},{"id":"a4b3638e.9538b8","type":"comment","z":"cb9d34cc.77518","name":"Send sensor events to Watson IoT Platform.","info":"","x":212,"y":41,"wires":[]},{"id":"574ded47.1eb7cc","type":"comment","z":"cb9d34cc.77518","name":"Recieve commands from Watson IoT platform","info":"","x":212,"y":284,"wires":[]},{"id":"f1bc890f.9c8f38","type":"inject","z":"cb9d34cc.77518","name":"Event - Running","topic":"","payload":"{\"footfall\":31,\"atemp\":2,\"selfLR\":7,\"ClinLR\":2,\"DoleLR\":6,\"PID\":6,\"outpressure\":19,\"inpressure\":4,\"temp\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"x":578.5,"y":189.25,"wires":[["2bd955c0.357b32"]]},{"id":"22c60dbe.5a6a92","type":"inject","z":"cb9d34cc.77518","name":"Event - Failing","topic":"","payload":"{\"footfall\":31,\"atemp\":1,\"selfLR\":7,\"ClinLR\":2,\"DoleLR\":6,\"PID\":1,\"outpressure\":20,\"inpressure\":4,\"temp\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":580.5,"y":241.25,"wires":[["2bd955c0.357b32"]]},{"id":"988060ba.46f6c8","type":"debug","z":"cb9d34cc.77518","name":"","active":true,"console":"false","complete":"false","x":778.5,"y":26.5,"wires":[]},{"id":"33a84934.5a651e","type":"wiotp-credentials","z":"","name":"","org":"","serverName":"","devType":"Equipment","devId":"Sensors","keepalive":"60","cleansession":true}]
